<div class="container-fluid">
  <%= simple_form_for(@wizard_user, url: validate_step_path) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: true %>
    </div>

    <%= render "bottom_menu", f: f, step: "step2", submit_text: "Next", previous_step_path: onboarding_step1_path %>
  <% end %>
</div>
