<br>
<div class="form-actions">
  <%= hidden_field_tag :current_step, step %>

  <%= link_to 'Back', previous_step_path, class: "btn btn-outline-secondary btn-lg" %>
  <%= f.submit submit_text, class: "btn btn-primary btn-lg" %>
</div>
